body {
	font-family: 'Fira Sans';
	max-width: 700px;
}

#map {
	height: 500px;
	width: 700px;
}

#map .leaflet-popup-content {
	padding: 10px;
	line-height: 18px;
}
#map .fa-check {
	color: #D7D3C8;
}
#map .fa-exclamation-circle {
	color: #C13832;
	cursor: help;
}
#map .popup_main {
	width: 230px;
}
#map .text_info {
	float: right;
	width: 170px;
}
#map .leaflet-popup-content img {
	float: left;
	background: #ddd;
}

.map_settings {
	position: fixed;
	top: 30px;
	right: 30px;
	bottom: 30px;
	overflow: auto;
	max-width: 400px;
}
.map_settings label {
	display: block;
}

#userlist {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #aaa;
}
#userlist li {
	display: block;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	margin: 0;
}
#userlist li:hover {
	background: #eee;
}
#userlist li.active {
	background: #ccc;
}
