<!DOCTYPE html>
<html ng-app="MozMap">
	<head>
		
		<meta charset="utf-8">
		
		<title>MozMap</title>
		
		<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
		<link rel="stylesheet" href="default.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
		<script src="https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
		<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
		
	</head>
	<body ng-controller="MozMapController">

		<h1>MozMap</h1>
		<h2>Deutschsprachige Mozillianer</h2>
		<p>Willkommen bei der MozMap! Dies ist eine Karte mit Mozillianern aus der <a href="http://www.mozilla.de/">deutschsprachigen Mozilla-Community</a>.</p>
		
		<div class="map_settings">

			<h3>Ansicht</h3>
			<label><input type="checkbox" ng-model="settings.marker"> Marker gruppieren</label>
			<label><input type="checkbox" ng-model="settings.irc"> IRC-Namen anzeigen</label>

			<h3>Filter</h3>
			<label><input type="checkbox" ng-model="filter.city"> Stadt</label>
			<label><input type="checkbox" ng-model="filter.region"> Bezirk</label>
			<label><input type="checkbox" ng-model="filter.country"> Land</label>
			<label><input type="checkbox" ng-model="filter.none"> Ohne Ortsangabe</label>

			{{ (mozillians | filter: mozFilter).length + ' von ' + mozillians.length }} Mozillians

			<ul id="userlist">
				<li ng-repeat="mozillian in mozillians | filter : mozFilter | orderBy : 'full_name || username'"
					ng-click="openPopup(mozillian)"
					ng-class="mozillian === activeUser ? 'active' : ''">
					<b>{{ mozillian.full_name || mozillian.username }}</b>
					{{ mozillian.map_data ? '' : ' (ohne Standort)' }}
				</li>
			</ul>

		</div>

		<div id="map"></div>
		
		<h3>Hinweis zu den dargestellten Daten</h3>
		<p>Bitte beachte, dass nicht alle Mozillianer ihren Standort öffentlich angegeben haben. Die Karte zeigt dementsprechend nur einen Teil der Community. Die zur Verfügung stehenden Standorte sind teilweise nur auf das Land oder einen Bezirk eingegrenzt oder verweisen auf eine größere Nachbarstadt. Die Daten entstammen dem <a href="https://mozillians.org/">Mozillianer</a>-Verzeichnis.</p>
		
		<p>Den Code dieser Karte findest du auf <a href="https://github.com/alex-pl/MozMap">GitHub</a>.</p>

		<script type="text/javascript" src="default.js"></script>
		
	</body>
</html>
